.brand-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #c8ced3;
  border-radius: 0.25rem;
}

.brand-card-header {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 6rem;
  border-radius: 0.25rem 0.25rem 0 0;
}

.brand-card-header i {
  font-size: 2rem;
  color: #fff;
}

.brand-card-header .chart-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.brand-card-body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0.75rem 0;
  text-align: center;
}

.brand-card-body > * {
  -ms-flex: 1;
  flex: 1;
  padding: 0.1875rem 0;
}

.brand-card-body > *:not(:last-child) {
  border-right: 1px solid #c8ced3;
}
.btn-app {
  min-width: 60px;
  height: 50px;
  font-size:12px;
  white-space: nowrap;
}
.btn-app > i,
.btn-app > span {
  display:block;
  margin: 0 auto 8px auto;
  text-align: center;
  font-size:18px;
}